<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <div class="panel panel-default">
                <div class="panel-body">
                    <span class="glyphicon glyphicon-cloud-upload"></span>
                    <h2>File Uploader</h2>
                    <div class="progress">
                        <div class="progress-bar" [style.width]="progressWidth">{{progressText}}</div>
                    </div>
                    <button class="btn btn-lg upload-btn" type="button" (click)="onUploadClick()">Upload File</button>
                    <h3 class="error" *ngIf="errorMessage">{{errorMessage}}</h3>
                </div>
            </div>
        </div>
    </div>
</div>

<input #file id="upload-input" type="file" (change)="onSelect($event)">